@import url('https://use.typekit.net/mkk8dya.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'source-sans-pro';
}

body {
  background-color: #7e7d7d;

}


.app-container {
  margin-top: 50px;
  padding-inline: 50px;
}



